// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container {
  width: fit-content;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main_image {
  height: 90vh;
}

.call_to_action {
  height: 8vh;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.call_now {
  text-decoration: none;
  color: #d6442d;
  font-family: impact, sans-serif;
  font-size: 7vh;
  text-transform: uppercase;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
